@charset "utf-8";
/* CSS Document */
/*Start*/
#heading #page-heading {
	font-family: Montserrat, sans-serif;
	color: #ff3333;
	font-size: 2.125em;
	margin: 10px 0px;
	font-weight: 600;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400);
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Oswald:600');
 font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: "Open Sans", Arial, Helvetica;
/*others*/
h1, h2, h3, h4, h5, h6, p {
	color: fff;
}
span.mybets, span.balance {
	color: darkorange;
}
.nav-account {
	height: 30px;
	width: 100%;
	position: fixed;
	color: #FFF;
	margin-bottom: 0px;
	z-index: 1024;
	padding: 3px;
	background-color: #333;
}
.account-name {
	line-height: 1.5rem;
	color: #fcffff;
	font-weight: bolder;
	margin: 0px;
}
.col-md-12 #thumbnails {
	text-align: center;
}
.thumb {
}
div#thumbnails {
	text-align: -webkit-center;
	padding-left: 12%;
	margin-top: 20px;
}

.toplogo-wrap.row {
	height: 100px;
	margin-top: 30px;
}
#toplogo img {
	width: 100%;
	height: auto;
	margin: 20px 5px 0 5px;
	overflow: hidden;
	max-width: 346px;
}
.sponsors {
	margin: 0 auto;
	background-image: url(../images/bckg-scrolling.jpg);
	background-repeat: repeat-x;
	border-left-style: double;
	border-right-style: double;
	border-left-color: #333;
	border-right-color: #333;
}
.thumbnail {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #000;
}
.sponsors img {
	height: auto;
	width: 85%;
}
/*Casino Games*/
h4.panel-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.casinogames-wrapper {
	padding: 20px 70px;
	display: block;
	background-color: #232323;
	margin: 0px auto;
	overflow: auto;
	width: initial;
}
.input-group.cg-search {
	margin-top: 5px;
}
.sponsors-games {
}
.row.cg-sponsors {
	width: 100%;
	padding-top: 5px;
}
.games-thumbnails {
	margin: 10px 15px;
}
.casinogames-header {
	background-image: url(../images/casinogames-bckg-header.png);
	background-repeat: repeat-x;
	height: 114px;
	width: 100%;
	text-align: center;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
	color: #777;
	cursor: not-allowed;
	background-color: #232323;
	border-color: #000;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	z-index: 3;
	color: #ffffff;
	text-decoration: none;
	background-color: #ff3333;
	border: 1px solid #000;
}
.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #ff3333;
	text-decoration: none;
	background-color: #232323;
	border: 1px solid #000;
}

.cg-header {
	position: relative;
	margin: 0px auto;
	min-width: 8em;
	max-width: 1170px; /**/
	color: #fff;
	z-index: 1;
	margin-left: 12px; /* default, width of left corner */
	margin-bottom: 0.5em; /* spacing under cg-header */
}
.cg-header .content, .cg-header .t, .cg-header .b, .cg-header .b div {
	_background-image: url(../dialog2/demo/cg-header2-blue.gif);
	background-color: transparent;
	background-image: url(../images/cg-header-bckg.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
.cg-header .content {
	position: relative;
	zoom: 1;
	_overflow-y: hidden;
	padding: 5px 12px 0px 16px;
}
.cg-header .t {
	/* top+left vertical slice */
	position: absolute;
	left: 0px;
	top: -2px;
	width: 16px; /* top slice width */
	margin-left: -12px;
	height: 100%;
	_height: 1600px; /* arbitrary long height, IE 6 */
	background-position: top left;
}
.cg-header .b {
	/* bottom */
	position: relative;
	width: 100%;
}
.cg-header .b, .cg-header .b div {
	height: 25px; /* height of bottom cap/shade */
	font-size: 1px;
}
.cg-header .b {
	background-position: bottom right;
}
.cg-header .b div {
	position: relative;
	width: 12px; /* bottom corner width */
	margin-left: -12px;
	background-position: bottom left;
}
.cg-header .hd, .cg-header .bd, .cg-header .ft {
	position: relative;
}
.cg-header .wrapper {
	/* extra content protector - preventing vertical overflow (past background) */
	position: static;
	max-height: 1000px;
	overflow: auto; /* note that overflow:auto causes a rather annoying redraw "lag" in Firefox 2, and may degrade performance. Might be worth trying without if you aren't worried about height/overflow issues. */
}
.cg-header h1, .cg-header p {
	margin: 0px; /* margins will blow out backgrounds, leaving whitespace. */
	padding: 0.5em 0px 0.5em 0px;
}
.cg-header h1 {
	padding-bottom: 0px;
}
img.cg-sponsors {
	height: auto;
	width: auto;
}
.games-btn {
	z-index: 1022;
	position: absolute;
	margin-top: 185px;
	width: 210px;
	padding: 0px 3px;
	text-align: center;
}
.play-free-btn {
	width: 6em;
	margin: 0px 5px;
	font-weight: bold;
	background: #ffab3a;
	background: -moz-linear-gradient(top, #ffab3a 0%, #ffab3a 48%, #ffab3a 48%, #ff7d01 48%, #ffab3a 78%, #f6d85d 100%);
	background: -webkit-linear-gradient(top, #ffab3a 0%, #ffab3a 48%, #ffab3a 48%, #ff7d01 48%, #ffab3a 78%, #f6d85d 100%);
	background: linear-gradient(to bottom, #ffab3a 0%, #ffab3a 48%, #ffab3a 48%, #ff7d01 48%, #ffab3a 78%, #f6d85d 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffab3a', endColorstr='#f6d85d', GradientType=0 );
	color: #fff;
}
button.btn.btn-default.label-success {
	font-weight: bold;
	background: #ffab3a;
	background: -moz-linear-gradient(top, #ffab3a 0%, #ffab3a 48%, #ffab3a 48%, #ff7d01 48%, #ffab3a 78%, #f6d85d 100%);
	background: -webkit-linear-gradient(top, #ffab3a 0%, #ffab3a 48%, #ffab3a 48%, #ff7d01 48%, #ffab3a 78%, #f6d85d 100%);
	background: linear-gradient(to bottom, #ffab3a 0%, #ffab3a 48%, #ffab3a 48%, #ff7d01 48%, #ffab3a 78%, #f6d85d 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffab3a', endColorstr='#f6d85d', GradientType=0 );
	color: #fff;
}
/*FAQ*/
.panel-default>.panel-heading {
	color: #e6e6e6;
	background-color: #1f1c1c;
	border-color: #ddd;
}
.panel-default {
	border-color: #3c3838;
}
.label-primary {
	background-color: #d9534f;
}
.panel-body {
	background-color: #242424;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
	border-top: 1px solid #520202;
}
/* TYPOGRAPHY
----------------------------------------------------------------------------------------------------*/

html {
	font-family: 'Open Sans', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html, body {
	background-color: #000;
	font-size: 100%;
	color: #ddd;
	font-family: 'Open Sans', helvetica, arial, sans-serif;
}
body, div, h1, h2, h3, h4, h5, h6, pre, p, blockquote {
	padding: 0;
 font-size:.875rem;
	line-height: 1.500;
	color: #fff;
 margin-top: 0 margin-bottom: 1rem
}
.textcolornew{
    color: #000;
}
.black_text .div{
    color: #000;
}
strong {
	font-weight: bolder;
	/*color: #000;*/
}
hr.sep {
	display: block;
	width: 40%;
	margin: 2em auto 1.5em;
	border: 2px solid #D9E4EA;
}
.left {
	text-align: left;
	float: left;
}
.right {
	text-align: right;
	float: right;
}
a:link {
	-webkit-tap-highlight-color: #46a7e2;
}
a {
	/*	color: #fff;*/
	outline: none;
}
a:hover {
	text-decoration: none;
}
.wrap {
	width: 100%;
	position: relative;
	margin-bottom: 10px;
}
.nowrap {
	white-space: nowrap;
}
a:hover.timestamp{color:#6F0;}
/*Modal panel properties*/
hr.dotted {
    border-top: 1px dotted #8c8b8b;
}
h4.negative {
	color: #333;
	font-weight: bolder;
	font-size: 1rem;
	text-align: center;
	margin: 0px;
}
.timestamp {font-size:9px;}
.modal-body {
	color: #333;
}
label {
	color: #333;
}
#betslip .form-control {
	width: 90%;
    height: 2em;
    font-size: 10px;
    padding: 0px;
	float:right;
}
table#betslip {
	margin-bottom: 0px;
}
/* FORM MODAL BUTTON -Join Now*/

.btn-primary.gradient:active, .btn-primary.gradient.active {
	background: -moz-linear-gradient(top, #267c99 50%, #007299 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #267c99), color-stop(50%, #007299)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #267c99 50%, #007299 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #267c99 50%, #007299 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #267c99 50%, #007299 50%); /* IE10+ */
	background: linear-gradient(to bottom, #267c99 50%, #007299 50%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299', GradientType=0 ); /* IE6-9 */
}
h3#lineModalLabel {
	font-family: oswald;
	color: white;
	text-align: center;
	font-size: large;
}
#join-now {
	background: #feb600;
	background-image: -webkit-linear-gradient(top, #feb600, #fc6e00);
	background-image: -moz-linear-gradient(top, #feb600, #fc6e00);
	background-image: -ms-linear-gradient(top, #feb600, #fc6e00);
	background-image: -o-linear-gradient(top, #feb600, #fc6e00);
	background-image: linear-gradient(to bottom, #feb600, #fc6e00);
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	font-family: Montserrat;
	font-weight: 600;
	color: #ffffff;
	font-size: 14px;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	border-color: #ff9900;
	margin: 30px 5px 30px 5px;
	width: 8em;
}
/* FORM MODAL BUTTON - Login */
#join-now.btn-hover {
	font-weight: normal;
	color: #333333;
	cursor: pointer;
	background-color: inherit;
	border-color: transparent;
}
#login-modal .modal-dialog {
/*width: 400px;*/
}
#login {
	background: #ff5454; /* Old browsers */
	background: -moz-linear-gradient(top, #ff5454 0%, #c60f0f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ff5454 0%, #c60f0f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ff5454 0%, #c60f0f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5454', endColorstr='#c60f0f', GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	font-family: Montserrat;
	font-weight: 600;
	color: #ffffff;
	font-size: 14px;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	border-color: #ce0404;
	margin: 30px 5px 30px 5px;
	width: 8em;
}
#login-modal .modal-dialog .modal-content {
	width: 90%;
}
.modal-body {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background: -moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background: -webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background: -o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background: -ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed', GradientType=0);
	background-color: #dfdfdf;
	border-radius: 5px 5px 10px 10px;
}
.btn:focus {
	background-color: red;
}
.modal-header {
	padding: 5px;
	border-radius: 4px 4px 0px 0px;
	border-bottom: 1px solid #000000;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #707070), color-stop(1, #292929));
	background: -moz-linear-gradient(top, #707070 5%, #292929 100%);
	background: -webkit-linear-gradient(top, #707070 5%, #292929 100%);
	background: -o-linear-gradient(top, #707070 5%, #292929 100%);
	background: -ms-linear-gradient(top, #707070 5%, #292929 100%);
	background: linear-gradient(to bottom, #404040 5%, #1b1a1a 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#707070', endColorstr='#292929', GradientType=0);
	background-color: #151515;
}
.modal-content {
	border-radius: 5px 5px 10px 10px;
}
.modal-footer {
	padding: 0;
}
.modal-footer .btn-group button {
	height: 40px;
	border-top-left-radius : 0;
	border-top-right-radius : 0;
	border: none;
	border-right: 1px solid #ddd;
}
.modal-footer .btn-group:last-child > button {
	border-right: 0;
}
/*TINY NAV BAR for MyAccount */
p.bg-danger {
	background-color: #ff3333;
}
ul.dropdown-menu {
	left: auto;
	right: 0;
}
span.balance, span.mybets {
	color: orangered;
}
span.label.label-danger {
	border-radius: 0px;
	font-size: 0.8rem;
	margin-right: 5px;
}
.navbar-xs {
	min-height: 22px;
border-radius:0 margin-bottom: 0px;
}
.navbar-xs .navbar-brand {
	padding: 2px 8px;
	font-size: 14px;
	line-height: 14px;
}
.navbar-xs .navbar-nav > li > a {
	padding-top: 2px;
	padding-bottom: 2px;
}
button.navbar-toggle.collapsed {
	padding: 0px;
	margin-top: 0px;
}

.slider-match {
	position: absolute;
	top: 25px;
	font-family: oswald, sans-serif;
	color: #FFF;
	font-weight: 600;
	text-align: center;
	left: 90px;
}
.controls {position:relative;}
/* Main NavBar
----------------------------------------------------------------------------------------------------*/
#nav #menu .active {
	color: #ff3333;
background-color: #000;
}
#nav {
	height: 30px;
	font-weight: 600;
	font-size: 13px;
	background-image: url(../images/bckg-navbar.png);
	background-repeat: repeat;
	background-position: 0px 0px;
	z-index: 1000;
	position: relative;
}
#nav #menu > li > a {
	display: block;
	margin: 0px;
	font-size: 12px;
	line-height: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #ffffff;
	text-decoration: none;
	padding: 0px 7px 0px 7px;
	height: 30px;
	text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.67);
}
#nav #menu > li > a:hover {
	background-color: #000;
	color: #ff3333
}
#nav ul {
	margin: 0px;
	padding: 0px;
}
#nav ul li, label[for=toggle] {
	display: inline-block;
	cursor: pointer;
	color: hsl(0, 100%, 100%);
	padding: 0px;
	margin: 0px;
	text-transform: uppercase;
	background-image: url(../images/navbar-divider.png);
	background-repeat: no-repeat;
	background-position: right 1px;
	list-style: none;
	float: left;
	text-align: -webkit-center;
}
#nav ul li:last-child {
	padding: 0px;
}
#nav ul li:hover, label[for=toggle]:hover {
	color: hsl(0,0%,90%);
	text-shadow: 0 0 1px #fff;
}
/*FOOTER*/
footer {
	background-color: #0c1a1e;
	min-height: 50px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 25px;
}
.footerleft {
	margin-top: 50px;
	padding: 0 36px;
}
.logofooter {
	margin-bottom: 10px;
	font-size: 25px;
	color: #fff;
	font-weight: 700;
}
.logofooter img {
	width: 100%;
	height: auto;
	margin: 20px 5px 0 5px;
	overflow: hidden;
}
.footerleft p {
	color: #fff;
	font-size: 12px !important;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 15px;
}
.footerleft p i {
	width: 20px;
	color: #999;
}
.paddingtop-bottom {
	margin-top: 50px;
}
.footer-ul {
	list-style-type: none;
	padding-left: 0px;
	margin-left: 2px;
}
.footer-ul li {
	line-height: 29px;
	font-size: 12px;
}
.footer-ul li a {
	color: #a0a3a4;
	transition: color 0.2s linear 0s, background 0.2s linear 0s;
}
.footer-ul i {
	margin-right: 10px;
}
.footer-ul li a:hover {
	transition: color 0.2s linear 0s, background 0.2s linear 0s;
	color: #ff670f;
}
.social:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.icon-ul {
	list-style-type: none !important;
	margin: 0px;
	padding: 0px;
}
.icon-ul li {
	line-height: 75px;
	width: 100%;
	float: left;
}
.icon {
	float: left;
	margin-right: 5px;
}
.copyright {
	min-height: 40px;
	background-color: #000000;
}
.copyright p {
	text-align: left;
	color: #FFF;
	padding: 10px 0;
	margin-bottom: 0px;
 font-size:.675rem;
}
.heading7 {
	font-size: 21px;
	font-weight: 700;
	color: #d9d6d6;
	margin-bottom: 22px;
}
.post p {
	font-size: 12px;
	color: #FFF;
	line-height: 20px;
}
.post p span {
	display: block;
	color: #8f8f8f;
}
.bottom_ul {
	list-style-type: none;
	float: right;
	margin-bottom: 0px;
}
.bottom_ul li {
	float: left;
	line-height: 40px;
}
.bottom_ul li:after {
	content: "/";
	color: #FFF;
	margin-right: 8px;
	margin-left: 8px;
}
.bottom_ul li a {
	color: #FFF;
	font-size: 12px;
}
.bottom_ul li a:hover {
    color: #ff3333;
    font-size: 12px;
}
/*MEDIA QUERIES*/
@media only screen and (min-width : 680px) {
input[type=checkbox]#toggle, label[for=toggle] {
	display: none;
}
}
 @media only screen and (max-width : 679px) {
#nav {
	width: 100%;
}
input[type=checkbox]#toggle {
	position: absolute;
	z-index: -9999px;
	top: -9999px;
	left: -9999px;
}
i.icon-menu-1 {
	margin: 0 10px 0 0;
}
label[for=toggle] {
	width: 90%;
	line-height: 25px;
	margin-left: 10px;
	font-size: 1rem;
	background-image: none;
}
#menu {
	display: none;
}
input[type=checkbox]#toggle:checked ~ #menu {
	display: block;
}
input[type=checkbox]#toggle:checked ~ #menu li {
	display: block;
	background-color: #333;
	background-image: none;
	clear: both;
}
#nav ul li {
	float: none;
}
ol.carousel-indicators {
	top: 105px;
}
@media (max-width: 768px) {
button#login {
 font-size: 70%;
 padding: 3px 10px;
 margin: 20px 4px;
}
button#join-now {
 font-size: 70%;
 padding: 3px;
 margin: 20px 4px
}
 .thumbnail {
 padding: 1px;
}
.toplogo-wrap.row {
height:70px;
margin-top:30px;
}
}
@media only screen and (min-width : 680px) and (max-width : 702px) {
#nav {
	width: 80%;
	font-size: 11px;
}
}
@media only screen and (min-width : 703px) and (max-width : 728px) {
#nav {
	width: 80%;
	font-size: 12px;
}
}
@media only screen and (min-width : 728px) and (max-width : 1024px) {
#nav {
	font-size: 13px;
}
input[type=checkbox]#toggle, label[for=toggle] {
	display: none;
}
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
input[type=checkbox]#toggle, label[for=toggle] {
	display: none;
}
}
.col-md-12.eventlist-holder {
	background-color: #333;
}
/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
	background-color: #ddd;
	border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	color: #555;
	background-color: #fff;
	border-color: #ddd;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}
.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}


/* Large desktop */
@media (min-width: 1200px) {
...
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
...
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
...
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
...
}
.event-row {
	width: 95%;
	height: 48px;
	background-color: #262323;
	border-left-width: 20px;
	border-left-style: solid;
	border-left-color: #0066cc;
	border-right-width: 20px;
	border-right-style: solid;
	border-right-color: #ff3333;
	margin-bottom: 5px;
	color: #FFF;
	font-family: "Oswald", sans-serif;
	line-height: 2.5em;
	margin-left: auto;
	margin-right: auto;
}
button.btn.btn-sm.btn-primary {
	background: #0e7ceb;
	background-image: -webkit-linear-gradient(top, #0e7ceb, #097ab3);
	background-image: -moz-linear-gradient(top, #0e7ceb, #097ab3);
	background-image: -ms-linear-gradient(top, #0e7ceb, #097ab3);
	background-image: -o-linear-gradient(top, #0e7ceb, #097ab3);
	background-image: linear-gradient(to bottom, #0e7ceb, #097ab3);
	-webkit-box-shadow: 0px 3px 4px #666666;
	-moz-box-shadow: 0px 3px 4px #666666;
	box-shadow: 0px 3px 4px rgba(8, 8, 8, 0.71);
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	font-family: Oswald;
	color: #ffffff;
	font-size: 16px;
	padding: 0px 20px;
	text-decoration: none;
	margin: 0px 5px;
}
#question0 .panel-body p {
	color: #333;
}
button.btn.btn-sm.btn-primary-red {
	background: #e92d1f;
	background-image: -webkit-linear-gradient(top, #e92d1f, #ce160f);
	background-image: -moz-linear-gradient(top, #e92d1f, #ce160f);
	background-image: -ms-linear-gradient(top, #e92d1f, #ce160f);
	background-image: -o-linear-gradient(top, #e92d1f, #ce160f);
	background-image: linear-gradient(to bottom, #e92d1f, #ce160f);
	-webkit-box-shadow: 0px 3px 4px #666666;
	-moz-box-shadow: 0px 3px 4px #666666;
	box-shadow: 0px 3px 4px rgba(8, 8, 8, 0.71);
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	font-family: Oswald;
	color: #ffffff;
	font-size: 16px;
	padding: 0px 20px;
	text-decoration: none;
	margin: 0px 5px;
}
.panel-title {
	font-family: Montserrat, sans-serif;
	font-size: 2em;
	font-weight: bold;
}


/*CONTACT US*/
section#contact {
	background-color: #222222;
	background-image: url(../images/map-image.png);
	background-position: center;
	background-repeat: no-repeat;
}
section {
    padding: 30px 0PX;
}
section#contact .section-heading {
    color: white;
}
section#contact .form-group {
    margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}
section#contact .form-group input.form-control {
    height: auto;
}
section#contact .form-group textarea.form-control {
    height: 236px;
}
section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
.gellary_bg_none img{
	width: 100%;
	height: 250px;
}
section#contact :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact :-ms-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact .text-danger {
    color: #e74c3c;
}

.about_us {
    text-align: center;
}
.about_us h1{
    font-size: 25px;
}
.titleline-icon {
    position: relative;
    max-width: 100px;
    border-top: 4px double #F99700;
    margin: 20px auto 20px;
}
.titleline-icon:after {
    position: absolute;
    top: -11px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'FontAwesome';
    content: "\f141";
    font-size: 20px;
    line-height: 1;
    color: #F99700;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    background: #ffffff;
}

 
